
body {
	width: 100%;
}

h1 {
	text-align: center;
}
#body {
    
    padding-left: 35px;
    padding-right: 35px;
    height: 100%;
    background-color: #fff;
     
}
#right{
	padding-right: 25px;
}
object {
    width: 100%;
    height: 100%;
}


.top {
	text-align: right;
}

.container {
	width: 100%;
	display: inline-block;

}

#first ul {
	padding: 0;
	margin: 0;
}

/*#first ul li {
	display: block;

}*/

/*#first ul ul {
	float: none;
}*/

#first li ul {
	width: 130px;
}

#first ul li a {
	/*display: block;*/
	padding: 15px;

}

/*#first li:hover > ul  {
	display: block;
	position: absolute;

}*/

/*#first li:hover li {
	float: none;
}*/

#first li a {
	background: #466BB0;
}

/*#first li ul li {
	border-top: 0;
}

#first ul ul ul {
	left: 100%;
	top: 0;
}

#first ul:before, ul:after {
}

#first ul:after {
	clear: both;
}*/


.panel > .panel-heading {
	background-image: none;
	background-color: #466BB0;
	color: white;
	font-family: 'Lora';
	font-weight: bold;
}

/*.panel {
	margin-left: 40px;
}*/

.panel-body {
	font-family: 'Lora';
}

.panel-body a:hover {
	color: #466BB0;
}

.list-group, .panel-heading {
	text-align: center;
}

.list-group > .list-group-item:hover {
	background-color: #9cf;
}

.navbar-nav {
	padding-top: 5px;
	padding-left: 50px;
	margin: 15px;
}

.navbar-brand {
	font-size: 21px;
	font-weight: bold;
	font-family: 'Lora';
}

.navbar-header {
	margin-top: 0px;
}

#navbar1 {
	background-color: #466BB0;

}

#navbar1 a {
	color: white;
	font-family: 'Lora';
}

#navbar1 a:hover {
	color: orange;
}

.top a.W3:after { 
	content: "|"; 
	padding: 0 .5em; 
}

.top a.Bluepages:after { 
	content: "|"; 
	padding: 0 .5em; 
}

.Bluepages, .help, .W3{
	font-size: 14px;
	color: #a0b046;
}

.help {
	margin-right: 25px;
}

.ibm {
	float: right;
	
}

.glyphicon {
	font-size: 0.7em;
}

.glyphicon-new-window {
	margin-left: 6px;
	font-size: 14px;
}

.glyphicon-search {
	font-size: 11px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

.form-control{
	
	border-color: #466BB0;
	border-width: 1.5px;
	

}

.btn-custom {
		color: #466BB0;
		border-color: #466BB0;
		border-width: 1.5px;

}

input::-webkit-input-placeholder {
color: black !important;
}

input:-moz-placeholder { /* Firefox 18- */
color: black !important;  
}

input::-moz-placeholder {  /* Firefox 19+ */
color: black !important;  
}

input:-ms-input-placeholder {  
color: black !important;  
} 





