/*
2005/12/23 rglasser Minor changes to prevent JS errors
2005/12/23 rglasser Also corrected comments
*/

@import url("../ui/v8/css/main.css");

/* content-main {padding-bottom:700px;}
body {margin-left:10px; margin-right:10px;} 
*/
h1.this-page {margin:1em 0;}
h2.this-page {color:#05a; padding-left:2em;}
h2.this-page a {font-size:.7em; padding-left:2em;}
h3.this-page {margin:3px 0 .10em 0; color:#fff;}
h3.this-page a {font-size:.7em; padding-left:2em;}

.heading { font-weight:bold; text-align:left; font-size:135%; }
.name { color:white; }

/*
icons-buttons {margin:2em 1em; background:#000;}
icons-buttons .c1 {background:#ddd; width:10%; padding:1em; border-bottom:0px solid #000;}
icons-buttons .back {padding:1em;}

html,body,p,ul,ol,li,td,th,dl,dt,blockquota,h1,h2,h3,h4,h5  { font-size:100%; }
*/

.inputdesc { font-size:100%; color:green; font-weight: bold; }

table.basic-table {border-style:solid; border-color:#999; border-width:thin; 
	width: 500}
table.basic-table tr.bg-header { background:#ccf; text-align:center; }
table tr.odd {background:#fff}
table tr.even {background:#ddd}
/* table.basic-table tr th {font-size:150%; text-align:center; } */
table.basic-table tr th {font-size:120%; text-align:center; }
/*table.basic-table tr td.data,td.datalight, td.readonlydata { font-size:80%; color:orange; } */
table.basic-table tr td.data,td.datalight, td.readonlydata { font-size:100%; color:black; }
table.basic-table tr td.data { font-weight:bold; }
table.basic-table tr td.readonlydata { color:purple; }

select,input { font-weight:bold; }
 
ul.top-menu { font-size:1.3em; font-weight:bold; }

b.section-title { font-size:1.2em; font-weight:bold; text-decoration:underline; }
b.section-subtitle { font-size:1.0em; font-weight:bold; text-decoration:underline; }
