  body {
    font-family: arial;
  }

  .modify {
    width: 50%;
    border-radius: 4px; 
    border-collapse: separate;
    border: 1px solid #038ca5; 
    border-spacing: 0; 
    margin-top: 70px;
  }

  .modify thead {
      background-color: #038ca5;
      color: white;
  }

  .modify th, .modify td {
    padding-right: 10px;
    font-size: 14px;
    letter-spacing: 1px;
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
  }
 .modify td:first-child,th:first-child {
    padding-left: 10px;
  }

  .modify th:last-child {
    padding-right: 15px;
  }
 
  .data {
    font-weight: bold;
  }

  .datalight {
    font-size: 14px;
    color: black;
    font-family: "Times New Roman", verdana, arial, helvetica, sans-serif;
    font-weight: bold;
  }

  .odd:hover {
    background-color: #dfeaf0;
  }

  .even:hover {
    background-color: #dfeaf0;
  }

  @media screen and (max-width: 568px) {

    .modify {
     
      width: 100%;

    }

    .modify thead {
      display: none;
      background-color: blue;
      color: white;
    }

    .modify tr {
      margin-bottom: 10px;
      display: block;
      border-bottom: 1px solid #038ca5;
    }

    .modify td {
      display: block;
      text-align: right;
      font-size: 12px;
      border-bottom: 1px dotted #ccc;
    }

    .modify td:last-child {
      border-bottom: 0;
    }

    .modify td:before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
    }
  }

    .bottom td{
      color: #a56d03;
      font-weight: bold;
      font-family: "Times New Roman", verdana, arial, helvetica, sans-serif;
    }

    .button{
      color: green;
    }
