    body {
    font-family: arial;

  }

  .modify th, .modify td{
    text-align: center;
  }

@media screen and (min-width: 568px) {
  .modify {
    width: 50%;
    border-radius: 4px; 
    border: 1px solid #038ca5; 
    border-spacing: 0; 
    margin-top: 70px;
    height: 50%;
  }

  .modify thead {
      background-color: #038ca5;
      color: white;
      text-align: center;
  }

  .modify th, .modify td {
    padding-right: 8px;
    font-size: 13px;
    padding-top: 6px;
    padding-bottom: 6px;
  }
.modify th{
  font-size: 14px;
}
  .modify td{
    min-width: 10px;
  }
 .modify td:first-child,th:first-child {
    padding-left: 4px;
  }

  .modify th:last-child {
    padding-right: 4px;
  }
 }
  .data {
    font-weight: bold;
  }

/*  .datalight {
    font-size: 14px;
    color: black;
    font-family: "Times New Roman", verdana, arial, helvetica, sans-serif;
    font-weight: bold;
  }
*/
  .odd:hover {
    background-color: #dfeaf0;
  }

  .even:hover {
    background-color: #dfeaf0;
  }

  @media screen and (max-width: 600px) {

    .modify {
     border: 1px solid #038ca5; 
     width: 80%;
     height: 70%;
     text-align: center;

    }

    .modify thead {
      display: none;
      background-color: blue;
      color: white;
      text-align: center;
    }

    .modify tr {
      margin-bottom: 10px;
      display: block;
      border-bottom: 1px solid #038ca5;
    }

    .modify td {
      display: block;
      text-align: right;
      font-size: 12px;
      border-bottom: 1px dotted #ccc;
    }

    .modify td:last-child {
      border-bottom: 0;
    }

    .modify td:before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
    }
  }

    .bottom td{
      color: #a56d03;
      font-weight: bold;
      font-family: "Times New Roman", verdana, arial, helvetica, sans-serif;
    }

    .button{
      color: green;
    }
